<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments/head :: head">...</div>
    <h3 th:text="${userModel.title}">Welcome to springboot</h3>
    <form  th:action="@{/users}" method="post" th:object="${userModel.user}" >
        <input type="hidden" name="id" th:value="*{id}">
        姓名：<br>
        <input type="text" name="name" th:value="*{name}">
        <br>
    email：<br>
        <input type="text" name="email" th:value="*{email}">
        <input type="submit" value="提交">
    </form>



    <div th:replace="~{fragments/foot :: foot}">...</div>
</body>
</html>